<div class="container">
    <header>
        <div class="header-position">
            <div class="menu-list">
                <h1 class="menu-profile">Portfolio</h1>
                <div class="menu-items">
                    <a class="menu-components">Home</a>
                    <a class="menu-components">About</a>
                    <a class="menu-components">Skills</a>
                    <a class="menu-components">Contacts</a>
                </div>
            </div>
            <h2 class="header-name">Hi, It's Ivanov Ivan</h2>
            <p class="header-work">Frontend-developer from Kazan</p>
            <a class="header-projects" href="https://github.com/Vanyclassy">Latest works</a>
        </div>
    </header>
    <content>
        <div class="content-box">
            <h1 class="content-title">About</h1>
            <p class="content-description">Lorem ipsum dolor sit amet, Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus sed. Consectetur adipiscing elit. Egestas porttitor
                nulla nulla egestas odio pharetra egestas aliquet mollis. Arcu, sed nisi, mi, arcu libero phasellus tincidunt. Rhoncus, diam penatibus aliquet tellus, in rutrum augue. Pellentesque senectus risus consectetur et sed purus sed. Consectetur
                adipiscing elit. Egestas porttitor nulla nulla egestas odio pharetra egestas aliquet mollis. diam penatibus aliquet tellus, in rutrum augue. Pellentesque.</p>
        </div>
        <div class="content-box">
            <h1 class="content-title">Skills</h1>
            <div class="content-component">
                <div class="content-image">
                    <img src="/assets/user.jpeg" />
                </div>
                <div class="content-skills">
                    <div class="content-items">
                        <p class="content-check">Profile</p>
                        <p class="content-check">Languages</p>
                        <p class="content-check">Stack</p>
                        <p class="content-check">Tools</p>
                    </div>
                    <div class="content-list">
                        <p class="content-tools">Frontend-developer, Web-engineer.</p>
                        <p class="content-tools">Russian, English.</p>
                        <p class="content-tools">Angular, TypeScript, Stylus, RxJS.</p>
                        <p class="content-tools">Webpack, Parcel, JavaScript, CSS3, HTML5, Bootstrap, Git, Linux, React, Figma, ES6, SOLID, npm, Sass.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </content>
    <footer>
        <h1 class="footer-contacts">Contacts</h1>
        <div class="footer-sites">
            <div class="footer-block">
                <a class="footer-link" href="">GitHub</a>
                <img src="/assets/github.png" />
            </div>
            <div class="footer-block">
                <a class="footer-link" href="">Telegram</a>
                <img src="/assets/gmail.png" />
            </div>
            <div class="footer-block">
                <a class="footer-link" href="">GitHub</a>
                <img src="/assets/telegram.png" />
            </div>
        </div>
    </footer>
</div>